doctype html
head
  title title
  link(rel='stylesheet' href='/static/css/bulma.min.css')
body
  section(class='hero is-primary is-bold')
    div(class='hero-body')
      div(class='container')
        h2(class='title') BeautyShop - 供货商入口
        h3(class='subtitle') 简洁、现代化的美妆商城
  section(class='section')
    div(class='container')
      form(action='/vendor/doLogin', method='post')
        div(class='field')
          label(class='label') 账户ID
          div(class='control')
            input(class='input', type='text', name='vendorId' value='1')
          div(class='field')
            label(class='label') 密码
            div(class='control')
              input(class='input', type='password', name='vendorPassword' value='Passw0rd!')
          div(class='field')
            div(class='control')
              button(class='button is-primary', type='submit') 登录